#mrkb-display {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-index-canvas);
    transition: opacity 500ms;
}
#mrkb-display.off {
    opacity: 0;
    pointer-events: none;
}
#mrkb-display.image {
    opacity: 1;
    pointer-events: all;
}
#mrkb-display.background {
    opacity: 0.2;
    pointer-events: none;
}
#mrkb-display .display-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    pointer-events: none;
}
#mrkb-display .display-image[src=""] {
    display: none;
}
#mrkb-display #display-image-background {
    filter: blur(8px) brightness(0.9);
    transform: scale(1.2);
    transform-origin: center;

    object-fit: cover;
    z-index: -1;
}
#mrkb-display #display-image-foreground {
    object-fit: contain;
    z-index: 1;
}
#mrkb-display.contain #display-image-background,
#mrkb-display.cover #display-image-background {
    display: none;
}
#mrkb-display.contain #display-image-foreground {
    object-fit: contain;
}
#mrkb-display.cover #display-image-foreground {
    object-fit: cover;
}